* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background: rgba(100, 100, 100, 0.3);
}

h1 {
    margin: 1rem 0;
}

.alingMain {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    padding: 1rem;
}


p {
    margin: 10px 0;
}
